<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>
    <h2>Spends Information</h2>
    <form action = "/savedetails" method="post">
    <table>
        <tr><td>transaction_id</td><td><input type="text" name="transaction_id"></td></tr>
        <tr><td>Spends</td><td><input type="text" name="Spends"></td></tr>
        <tr><td>Month</td><td><input type="text" name="Month"></td></tr>
        <tr><td>Amount</td><td><input type="text" name="Amount"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>
